.headerSelect {
  position: relative;
  display: inline-block;

  .selectedOption {
    background-color: var(--fone-file);
    color: #fff;
    border: none;
    outline: none;
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;

    @media (max-width: 1200px) {
      padding: 10px;
    }

    @media (max-width: 430px) {
      gap: 0;
    }

    .ArrowDownSvg {
      transition: transform 0.3s ease;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .optionList {
    list-style: none;
    position: absolute;
    margin-top: 6px;
    padding: 0;
    z-index: 5;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: transform 0.3s linear, opacity 0.3s linear;
    visibility: hidden;
    opacity: 0;

    &.open {
      opacity: 1;
      visibility: visible;
      transform: rotateX(0deg);
    }

    .languageOption {
      cursor: pointer;
      font-family: Gilroy, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }
  }
}
