.heading {
  @media(max-width: 900px){
    display: none;
  }
}

.headingTablet {
  display: none;
  @media(max-width: 900px){
    display: block;
    text-align: center;
  }
}

.aboutUs {
  margin-top: 80px;
  height: 429px;
  display: flex;
  gap: 40px;
  @media(max-width: 900px){
    flex-direction: column;
    height: 100%;
    gap: 20px;
    margin-top: 60px;
  }
  @media(max-width: 520px){
    margin-top: 55px;
  }
  &Image {
    width: 661px;
    height: 429px;
    border-radius: 36px;
    @media(max-width: 900px){
      width: 100%;
    }
    @media(max-width: 600px){
      border-radius: 24px;
      height: 217px;
    }
    img{
      border-radius: 36px;
      width: 661px;
      height: 429px;
      object-fit: cover;
      @media(max-width: 900px){
        width: 100%;
        border-radius: 24px;
      }
      @media(max-width: 600px){
        width: 100%;
        height: 217px;
      }
    }
  }
}

.text {
  margin-top: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @media(max-width: 900px){
    margin-top: 0;
  }
}

.btn {
  padding: 10px 36px;
  border-radius: 12px;
  border: 1px solid #FFF;
  background: var(--fone-file);
  color: #FFF;
  margin-top: 15px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width: 600px){
    padding: 8px 28px;
  }
}

.btn:hover {
  background-color: var(--active-color);
  border: 1px solid var(--active-color);
  box-shadow: 0 0 6px 0 rgb(142, 82, 221);
  @media(max-width: 520px) {
    background: var(--fone-file);
    box-shadow: none;
    border: 1px solid #FFF;
  }
}