.form {
  width: 754px;
  max-width: 100%;
  margin: 0 auto;
  &Input {
    margin-bottom: 30px;
    @media(max-width: 420px) {
      margin-top: 20px;
    }
  }
  &Area{
    width: 754px;
    max-width: 100%;
    margin-top: 12px;
    padding: 16px;
    height: 146px;
    border-radius: 12px;
    background: #F8F8F8;
    @media(max-width: 420px) {
      margin-top: 10px;
    }
  }
}

.errors {
  color: #E11414;
  margin-top: 12px;
  @media(max-width: 420px) {
    margin-top: 10px;
  }
}

.submitButton {
  border-radius: 12px;
  border: 1px solid #FFF;
  background: var(--fone-file);
  color: #FFF;
  padding: 10px 36px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--active-color);
    border: 1px solid var(--active-color);
    box-shadow: 0 0 6px 0 rgb(142, 82, 221);
    @media(max-width: 520px){
      background: var(--fone-file);
      border: 1px solid #FFF;
      box-shadow: none;
    }
  }
  @media(max-width: 900px) {
    padding: 8px 28px;
  }
}

.success {
  color: green;
  margin: 10px;
}