.subForm {
  position: absolute;
  padding: 20px 60px;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #FFF;
  background: var(--fone-file);
  width: 876px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  opacity: 0;
  z-index: 1100;
  transition: max-height 1s ease-out;
  right: 15%;
  top: 100%;
  pointer-events: none;

  @media(max-width: 1000px) {
    position: fixed;
    top: 270px;
    right: 0;
    width: 100%;
    overflow-y: auto;
    z-index: 1200;
    border: none;
    pointer-events: none;
  }

  &.open {
    opacity: 1;
    pointer-events: auto;
    max-height: 100vh;
    position: absolute;
    transition: max-height 0.5s ease-out;
  }

  &Content {
    width: 358px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    cursor: pointer;

    @media(max-width: 1000px) {
      justify-content: space-between;
      width: 100%;
    }

    p {
      color: #FFF;
      font-family: Gilroy, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
    }

    span {
      white-space: normal;
      color: #6B6E70;
      font-family: Gilroy, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
      width: 100%;
      @media(max-width: 1000px) {
        display: none;
      }
    }
  }
}

.ArrowDownSvg {
  transition: 0.5s;

  &.open {
    transform: rotate(180deg);
  }
}

.title {
   display: flex;
   justify-content: space-between;
   transition: color 0.5s;

   &:hover {
     color: var(--active-color);

     .nameIcon path {
       fill: var(--active-color);
     }
   }
 }


.toggle {
  transition: color 0.3s ease;
  color: rgb(255, 255, 255);
  font-family: Gilroy, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  @media(max-width: 1000px) {
    position: absolute;
    left: 40px;
    z-index: 1300;
  }

  &:hover {
    color: var(--active-color);
  }

  &:hover .ArrowDownSvg path {
    fill: var(--active-color);
  }
}


.ArrowDownSvg path,
.nameIcon {
  transition: 0.5s;
}
