.aboutUsHeading {
  text-align: center;
  margin-top: 45px;
  @media(max-width: 500px) {
    margin: 0;
  }
}

.aboutUs {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @media(max-width: 500px) {
    gap: 10px;
  }
}

.aboutUsImage,
.aboutUsImage1 {
  height: 428px;
  transition: 0.5s;
  border-radius: 16px;
  @media(max-width: 800px) {
    height: 270px;
  }
  @media(max-width: 500px) {
    height: 126px;
    border-radius: 4px;
  }
}

.aboutUsImage {
  width: 840px;
}

.aboutUsImage1 {
  width: 380px;
}

.aboutUsImage.clicked {
  width: 380px;
}

.aboutUsImage1.clicked {
  width: 840px;
}

.aboutUsImage img,
.aboutUsImage1 img,
.aboutUsImage video,
.aboutUsImage1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  @media(max-width: 500px) {
    border-radius: 4px;
  }
}

.content {
  padding: 0 70px;
  margin-top: 40px;
  @media(max-width: 1000px){
    padding: 0;
    margin-top: 24px;
  }
}
