:root {
  --fone-file: #060927;
  --active-color: #CC23AC;
  --white: #FFF;
  --error: #EB5757;
  --info: #2F80ED;
  --hover: #C4CCFF;
  --black1: #000;
  --black2: #262626;
  --blue: #7A8BBD;
  --gray1: ;
  --gray2: ;
  --gray3: ;
  --gray4: ;
  --gray5: ;
  --effect: ;
  --gradiant: ;
  --dark-blue: ;
}